.jumbotron
  - if cue_id = ::Cache.object_cache_get('current_cue_id')
    - cue = Cue.get(cue_id)
    %p.lead Now Playing
    %h1== "#{cue.song.title}"
    - if cue.song.artist
      %h3== by #{cue.song.artist}
    %p.lead== As per request from #{link_to_twitter(cue.user)}!
  - elsif cue = Cue.current_cues.first
    %p.lead Next Up
    %h1== "#{cue.song.title}"
    - if cue.song.artist
      %h3== by #{cue.song.artist}
    %p.lead== As per request from #{link_to_twitter(cue.user)}!
  - else
    %p.lead Now Playing
    %h1 Random Song
    %h3 by Random Artist
    %p.lead Because there are no queues!
  %a.btn.btn-large.btn-primary#cue{:href => '/songs'}== Cue your song for &yen;#{object_cache('current_rate') { Cue.rate_per_minute }}/min now!
%hr
.row-fluid.marketing
  .span6
    %h4 Upcoming Songs
    - Cue.current_cues.each do |cue|
      %p
        %strong "#{cue.song.title}"
        - if cue.song.artist
          by
          = cue.song.artist
        from
        = link_to_twitter(cue.user)
    - if Cue.current_cues.count <= 0
      %p There's nothing in the queue yet.
  .span6
    %table.table.table-striped
      %thead
        %tr
          %th Person
          %th Usage
      %tbody
      - Cue.stats.each do |user, yens|
        %tr
          %td= link_to_twitter(user)
          %td= number_to_yen(yens)
    %p.muted Usage resets every first day of a month.