%h1
  = ::Cache.object_cache(:songs_count) { Song.count }
  Songs
%p
  Want your favorite songs here? Just drop your file in
  %i= Song.root
  and click the button below!
  == Supported formats are: #{Song.supported_format.join(', ')}.
%p
  %a.btn{:href => "/songs/refresh"}
    %i.icon-refresh
    Refresh Songs
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Artist
      %th Actions
  %tbody
    - @songs.each do |song|
      %tr
        %td= song.title
        %td= song.artist
        %td
          %a.btn.btn-primary{:href => "/songs/#{song.id}/cue"}
            %i.icon-circle-arrow-up
            Cue
          /
            %a.btn{:href => "/songs/#{song.id}/cut_in"}
              %i.icon-play
              Cut-In
              &yen;40